
<div class="container">

	<form #f="ngForm" novalidate>
		<div class="form-group">
			<div class="panel panel-primary">
				<div class="panel-heading">Roman Translator</div>
				<div class="panel-body">
					<h4>Roman Translator</h4>
					<input #textbox type="text" class="form-control" name="name"  
						[(ngModel)]="intVal.val" #name="ngModel" required minlength="1" maxlength="5">

					  <div *ngIf="name.errors && (name.dirty || name.touched) && edited==true" class="alert alert-danger">
							<div [hidden]="!name.errors.required">
							  Please enter a value
							</div>
						  </div>

					<div class="panel-body">
						<button type="submit" (click)="logText(textbox.value)">Convert
							to Roman</button> 
						<button type="submit" (click)="clearText()">Clear</button>
					</div>

					<div *ngIf="isSelected('LowerCase')">
						<p>Roman Value : {{ textbox.value | romanConverter | lowercase
							}}</p>
					</div>

					<div *ngIf="isSelected('Uppercase')">
						<p>Roman Value : {{ textbox.value | romanConverter | uppercase
							}}</p>
					</div>
 
					<div class="radio">
						<label> <input type="radio" name="case" value="LowerCase"
							(click)="setradio('LowerCase')" [checked]='true' ngModel>
							LowerCase
						</label>
					</div>
					<div class="radio">
						<label> <input type="radio" name="case" value="Uppercase"
							(click)="setradio('Uppercase')" ngModel> Uppercase
						</label>
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-default">Submit</button> 
		</div>
	</form>
</div>


